<header class="container">
  <nav aria-label="breadcrumb" style="justify-content: end;">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/account">Account</a></li>
    <li><a href="/signout" role="button">Sign Out</a></li>
  </ul>
</nav>
</header>

