<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/pico.min.css" />
    <title>Add Quiz</title>
  </head>
  <body>
    {{> header}}
    <main class="container">
      <h1>Add your quiz</h1>
      <form action="/addQuiz" method="POST">
        <label for="quizName">Quiz Name</label>
        <input type="text" name="quizName" placeholder="Quiz Name" required />
        <label for="category">Category</label>
        <input type="text" name="category" placeholder="Category" required />
        <label for="question">Question 1</label>
        <input type="text" name="question1" placeholder="Question 1" required />
        <label for="answers1">Answer 1</label>
        <textarea
          type="text"
          name="answers1"
          placeholder='Answers separated by ":"'
          required
        ></textarea>
        <input
          type="number"
          name="answer1"
          placeholder="Pick the correct question's number"
          min="1"
        />
        <label for="question">Question 2</label>
        <input type="text" name="question2" placeholder="Question 2" required />
        <label for="answers2">Answer 2</label>
        <textarea
          type="text"
          name="answers2"
          placeholder='Answers separated by ":"'
          required
        ></textarea>
        <input
          type="number"
          name="answer2"
          placeholder="Pick the correct question's number"
          min="1"
        />
        <label for="question">Question 3</label>
        <input type="text" name="question3" placeholder="Question 3" required />
        <label for="answers3">Answer 3</label>
        <textarea
          type="text"
          name="answers3"
          placeholder='Answers separated by ":"'
          required
        ></textarea>
        <input
          type="number"
          name="answer3"
          placeholder="Pick the correct question's number"
          min="1"
        />
        <input type="submit" value="Add Quiz" />
      </form>
    </main>
  </body>
</html>